[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "==1.0.2"
flask-iniconfig = "*"
flask-sqlalchemy = "*"
pymysql = "*"
pyyaml = "*"
requests = "*"
sqlalchemy = "*"
sqlalchemy-utils = "*"
whoosh = "*"


[dev-packages]

coverage = "*"
flask-webtest = "*"
nose = "*"
requests-mock = "*"
flake8 = "*"


[requires]

python_version = "3.5"


[packages.flask-restless]

git = "https://github.com/tarekziade/flask-restless.git"
editable = true


[packages.flask-restless-swagger]

git = "https://github.com/tarekziade/flask-restless-swagger.git"
editable = true


[packages.raven]

extras = [ "flask",]


[packages.e1839a8]

path = "."
editable = true
