[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==0.12.4"
flask-iniconfig = "*"
flask-restless = {git = "https://github.com/tarekziade/flask-restless.git", editable = true}
flask-restless-swagger = {git = "https://github.com/tarekziade/flask-restless-swagger.git", editable = true}
flask-sqlalchemy = "*"
pymysql = "*"
pyyaml = "*"
raven = {extras = ["flask"], version = "*"}
requests = "*"
sqlalchemy = "*"
sqlalchemy-utils = "*"
whoosh = "*"
"e1839a8" = {path = ".", editable = true}

[dev-packages]
coverage = "*"
flask-webtest = "*"
nose = "*"
requests-mock = "*"
flake8 = "*"

[requires]
python_version = "3.5"
