{% extends "bootstrap/base.html" %}

{% block title %}Service Book{% endblock %}

{% block navbar %}
{{nav.frontend_top.render()}}
{% endblock %}

{% block content %}
<div class="container">
    <h2>Service Book</h2>
    <p>List of all active projects for the QA team</p>
    <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th>Project</th>
        <th>Primary</th>
        <th>Secondary</th>
        <th>IRC</th>
        <th>Technical Group</th>
      </tr>
      </thead>
      <tbody>
    {% for project in projects %}
    <tr>
      <td>{{project.name}}</td>
      <td>{{project.primary}}</td>
      <td>{{project.secondary}}</td>
      <td>{{project.irc}}</td>
      <td>{{project.group}}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>
</div>
{% endblock %}
