{% extends "bootstrap/base.html" %}
{% block head %}
  {{super()}}
  <link href='/static/css/bookstyle.css' 
        media='screen' rel='stylesheet' type='text/css'/>
{% endblock %}



{% block title %}Service Book{% endblock %}

{% block navbar %}
{{nav.frontend_top.render()}}
{% endblock %}

{% block content %}
<div class="container">
 <h2>Welcome to Service Book 
   <span class="badge"><a class="json" href="/projects.json">JSON</a></span>
 </h2>
  <p>List of all active projects for the QA team</p>
  {% include 'projectlist.html' %}
</div>
{% endblock %}
