{% extends "base.html" %}
{% set title = project.name %}
{% set subtitle = project.description %}
{% set json = '/project/%d.json' % project.id %}

{% block page %}

<div class="row">
 <div class="col-md-6">

     <h2>Tests & Links</h2>
     {% if project.links == [] %}
     <strong>No links here ? Come on, this is so sad.</strong>
     {% endif %}

     <div class="list-group">
     {% for link in project.links %}
       <a class="list-group-item" href="{{link.link}}">
           <strong>{{link.name}}</strong>
           <em>{{link.description}}</em>
        </a>
     {% endfor %}
     </div>


    <h2>Bugs</h2>
     {% if bugs == [] %}
     <strong>Zaroo bugs. WOW.</strong>
     {% endif %}


    <ul class="list-unstyled">
        {% for bug in bugs %}
        <li><span class="badge">{{bug.status}}</span>
            <a href="https://bugzilla.mozilla.org/show_bug.cgi?id={{bug.id}}">
               {{bug.id}} {{bug.summary}}</a></li>
        {% endfor %}
    </ul>

  </div>
  <div class="col-md-6">
   <h2>Info
     <span class="badge"><a class="json" href="/project/{{project.id}}/edit">Edit</a></span>
   </h2>
  <ul class="list-group">
     {% if project_info %}
     <li class="list-group-item">
		 <span class="label label-success label-as-badge">{...}</span>
         <em>Project Contact</em>
         <a href="mailto:{{project_info['contact']['email']}}"><strong>{{project_info['contact']['name']}}</strong></a></li>
     <li class="list-group-item">
		 <span class="label label-success label-as-badge">{...}</span>
         <em>Licence</em>
         <a href="{{project_info['license']['url']}}"><strong>{{project_info['license']['name']}}</strong></a></li>
     <li class="list-group-item">
		 <span class="label label-success label-as-badge">{...}</span>
         <em>Homepage</em>
         <a href="{{project_info['x-mozilla-services']['homepage']}}">{{project_info['x-mozilla-services']['homepage']}}</a></li>
     {% endif %}
     <li class="list-group-item"><em>QA Primary</em> <strong>{{project.primary}}</strong></li>
     <li class="list-group-item"><em>QA Secondary</em> <strong>{{project.secondary}}</strong></li>
     <li class="list-group-item"><em>IRC</em>
         {% if project.irc %}
         <strong>{{project.irc}}</strong>
         {% else %}
         <strong>Too many IRC channels already.</strong>
         {% endif %}
     </li>
     <li class="list-group-item"><em>Group</em> <strong>{{project.group}}</strong></li>
  </ul>
  </div>
  </div>

  <h2>Deployments</h2>
     {% if project.deployments == [] %}
     <strong>No deployments means no worries, right ?</strong>
     {% endif %}


  {% for deployment in project.deployments %}
<div class="panel panel-primary">
<div class="panel-heading">
  <h2 class="panel-title">{{deployment.name}}  <span class="badge">v0.3.0</span>
    <span class="badge"><a href="/project/{{project.id}}/deployment/{{deployment.id}}/edit">Edit</a></span>
    <span class="badge"><a href="/project/{{project.id}}/deployment/{{deployment.id}}/delete">Remove</a></span>
  </h2>
  </div>
  <div class="panel-body">

   <ul class="list-group">
     <li class="list-group-item"><em>Endpoint</em> <a href="{{deployment.endpoint}}"><strong>{{deployment.endpoint}}</strong></a></li>
     <li class="list-group-item"><em>Deployment Date</em> <strong>11/10/2016</strong></li>
   </ul>

    <div class="btn-group" role="group">
        <a href="/action/heartbeat?endpoint={{deployment.endpoint}}/__heartbeat__" role="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Hearbeat
     </a>
     <a href="/action/swagger?endpoint={{deployment.endpoint}}/__api__" role="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-list" aria-hidden="true"></span> Swagger
     </a>
     <a href="/action/smoke?endpoint={{deployment.endpoint}}/__api__" role="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> Smoke Test
     </a>
    </div>
  </div>
</div>

  {% endfor %}
  <a href="/project/{{project.id}}/deployment" role="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add a Deployment
 </a>
</div>

{% endblock %}
